export API_KEY=
export DATABASE_URL=postgresql://user:password@localhost:54320/chorelist
export EMAIL_TO=
export EMAIL_FROM=
export PORT=
export SENDGRID_API_KEY=
export CHORELIST_FRONTEND_URL=http://localhost:8080
